/* Countdown container */
#countdown-container {
  font-size: 48px;
  font-weight: bold;
}

/* Message */
#message {
  font-size: 45px;
}

/* Custom styling for the container */
.container {
  background-color: #82c239;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(11, 214, 72, 0.1);
}

/* Bootstrap classes override */
.container.mt-5 {
  margin-top: 100px !important;
}

.text-center {
  margin: 0 auto;
}
